

<div id="utama" class="col-md-6" style="max-height:300px;overflow-y:scroll;">
  <md-list>
    <div *ngFor ="let datacarrier of dataLoader">
      <md-list-item >
      

        <p md-line>
          <span>{{datacarrier.title}}</span>
        </p>
        <h3 md-line><small style="font-size:12px;">{{datacarrier.media_displayName}} . {{datacarrier.timestamp}} </small></h3>
      </md-list-item>
       <md-divider></md-divider>
    </div>
   
  </md-list>
</div>